services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - mosquitto_data:/mosquitto/data
      - ./config/mosquitto_config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - backend

  nodered:
    image: nodered/node-red:latest
    ports:
      - "1880:1880"
    volumes:
      - ./config/nodered/:/data
    environment:
      - NODE_RED_ENABLE_PROJECTS=true
      - NODE_RED_FLOW_FILE=flow.json

  mailhog:
    platform: linux/amd64
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - backend


  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH: false

  mqtt-client:
    image: eclipse-mosquitto:latest
    container_name: mqtt-client
    command: >
      sh -c "sleep 5 && 
      mosquitto_sub -h mosquitto -t '#' -v"
    depends_on:
      - mosquitto
    networks:
      - backend
volumes:
  mosquitto_data:
  mongodb_data:

networks:
  backend:
    driver: bridge